@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Sans Serif', serif;
    background-color: #dce2e8;
    color:#30333a;
    font-size: 17px;
  }

  a {
    color: #30333a;
    /* text-decoration: none; */
  }
  a {
    color: #30333a;
    /* text-decoration: none; */
  }

  a:hover {
    color: #6b7280;
  }

  p {
    margin-bottom: 1.2em;
  }

  h1 {
    color: #3a436d;
    font-size: 26px;
    font-weight: normal;
  }

  h4{
    color: #3a436d;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.5em;
  
  }
  
  /* Navbar responsive styles */
  .navbar-left-column { 
    width: 50%; 
  }
  
  .navbar-right-column { 
    width: 50%; 
  }

  .page-container {
    width: 85%;  /* Default width for mobile */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  /* jank desktop styling */
  @media (min-width: 950px) {
    .navbar-left-column { 
      width: 60%; 
    }
    
    .navbar-right-column { 
      width: 40%; 
    }

    .page-container {
      width: 40%;
    }
  }


  
  
  .dash-list {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 4px;
  }

  .dash-list li {
    margin-top: 4px;
  }

  .dash-list li::before {
    /* content: none; En dash */
    margin-right: 8px;
  }
  .arrow {
    font-size: 15px;
  }
  .blue-link {
    color: #0366d6;
    text-decoration: none;
  }
  .blue-link:hover {
    color: #0366d6;
    text-decoration: underline;
  }
}

